<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="html_head">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>[[${pageTitle}]] Azo Store</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/bootstrapcss/bootstrap.min.css}" />


<link
	href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap"
	rel="stylesheet"/>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	
	
<link rel = "stylesheet" href = "/fontawesome/svgs/">
<link rel = "stylesheet" href = "/fontawesome/webfonts/">
<link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<link rel = "stylesheet" type="text/css" href = "/customcss/addproduct.css"/>
	


<script
	src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
	referrerpolicy="origin"></script>
<script>tinymce.init({selector:'textarea'});</script>

<!-- Datatable -->

<link rel="stylesheet" type="text/css"
	href="datatable/css/datatables.min.css" />

<link rel="stylesheet"
	href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />



</head>


<body>


	<div th:fragment="menubar">



		<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand ml-2" th:href="@{/}">Azo Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Product
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/product/add}">Add a new Product</a>
          <a class="dropdown-item" th:href="@{/product/productList}">View Product List</a>
          
        </div>
      </li>
      
  	</ul>
  	
  	<!--   
    <form th:action = "@{/searchProduct}" method = "Post" class="form-horizontal">
    <input type="search" placeholder="Search Product"  />
    <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Search</button>
 
  </form>   -->
  <ul class="navbar-nav ml-5" >
  <li class="nav-item">
        <a class="nav-link mr-2" th:href="@{/logout}" tabindex="-1" aria-disabled="true">Sign Out</a>
      </li>
   </ul>
  
  </div>
</nav>



		
		<!-- End Navigation -->




	</div>



	<div th:fragment="javascript">
		<!-- jQuery -->
		
		
		<script type="text/javascript" src="/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="/bootstrapjs/bootstrap.min.js"></script>

		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"></script>

		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>

		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"></script>


		<script type="text/javascript" src="datatable/js/datatables.min.js"></script>

		<script type="text/javascript"
			src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

		<script type="text/javascript" th:src="@{/customjs/scripts.js}"></script>

		<script th:src="@{/bootbox/bootbox.min.js}"></script>



	</div>

</body>


<footer th:fragment="html_foot">

	<div class = "container my-5 width:100%">

	<div class = "row gy-5">
	
		<div class = "col-md-6 my-2" align="center">
		
			<table style= "border-collapse: seperate; border-spacing:8px;" width = 30%>

			<tr>
		
				<td>
			
					<a th:href = "@{https://github.com/Azo-hub}"><i  class="fa fa-github" style = "font-size:25px; color: #3A2A2D;"></i></a>
		
				</td>
		
		
				<td>

					<a th:href = "@{https://www.linkedin.com/in/ridwan-azeez-12ab10116/}"><i  class="fa fa-linkedin" style = "font-size:25px; color: #3A2A2D;"></i></a>

				</td>
		
		
				<td>

					<a th:href = "@{https://www.instagram.com/readone_hazzochi/}"><i class="fa fa-instagram" style = "font-size:25px; color: #3A2A2D;"></i></a>

				</td>
		
		
				<td>
				
					<a th:href = "@{https://www.facebook.com/azeez.ridwanodekanle/}"><i  class="fa fa-facebook" style = "font-size:25px; color: #3A2A2D;"></i></a>
					
					
				</td>
		
			</tr>
	
		</table>
				
		
		</div>
		
		
		<div class = "col-md-6 my-2" align ="center">
		
			<div class = "container-fluid">
			
				<div class = "row">
				
					<div class = "col-sm-12">
					
						<a class = "privacy" th:href = "@{/}"><b>Privacy Policy</b></a>		
					
					</div>
				
				</div>
				
				<div class = "row">
				
					<div class = "col-sm-12">
					
						<a class = "privacy" th:href = "@{/}"><b>Terms &#38; Conditions</b></a>			
					
					</div>
				
				</div>
			
				<div class = "row">
				
					<div class = "col-sm-12">
					
						<b>&#169;&nbsp;<Label th:text = "${#dates.year(#dates.createNow())}"></Label>&nbsp;Azeez Ridwan</b>					
					
					</div>
				
				</div>
			
				
				
			
			</div>
		
		</div>
	
	</div>

</div>





</footer>



</html>