<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments::html_head">

</head>


<body>

	<div th:replace="fragments::menubar" class="w-100"></div>

	<table class="table table-md table-bordered table-hover table-striped table-dark my-5" id="productlisttable">
		
		
		<thead>
			<tr>
				<th style="text-align: center;"><input
					th:id="selectAllProducts" type="checkbox" /></th>
				<th scope="col">Name</th>
				<th scope="col">Brand</th>
				<th scope="col">Category</th>
				<th scope="col">List Price</th>
				<th scope="col">Our Price</th>
				<th scope="col">Active</th>
				<th scope="col">Operation</th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="product:${productList}">

				<td style="text-align: center;"><input hidden="hidden"
					name="id" th:value="${product.id}" /> <input
					th:id="'selected' + ${product.id}" class="checkboxProduct"
					type="checkbox" /></td>
				<td><a th:href="@{'/productInfo/'+${product.id}}"><span
						th:text="${product.name}"></span></a></td>
				<td th:text="${product.brand}"></td>
				<td th:text="${product.category}"></td>
				<td th:text="${product.listPrice}"></td>
				<td th:text="${product.ourPrice}"></td>
				<td th:text="${product.active}"></td>
				<td>
					<!-- <input hidden = "hidden" name = "id" th:value = "${product.id}"/>
      	<button th:id = "'oneProduct-' + ${product.id}" class = "btn btn-danger btn-xs delete-product" type = "submit" value = "delete">
      	<span class = "fa fa-times"></span>Delete</button>  --> <a
					th:href="@{'/delete/' + ${product.id}}"
					class="btn btn-danger btn-md"><span class="fa fa-times"></span>
						Delete</a>
				</td>
			</tr>

		</tbody>
	</table>

	<button th:id="deleteSelected" class="btn btn-danger btn-xs">Delete
		Selected</button>




	<div th:replace="fragments::javascript"></div>


</body>


<footer th:replace="fragments::html_foot"> </footer>
<script>
		$(document).ready(function() {
			$('#productlisttable').DataTable();
		});
	</script>



</html>
