<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments::html_head">

</head>


<body>

	<div th:replace="fragments::menubar" class="w-100"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<form class="form-horizontal" th:action="@{/updateProduct}" method="post"
					enctype="multipart/form-data">
					<fieldset>
						<legend class="center-block">
							Update Product Information <span style="font-size: small">* is a
								required field</span>
						</legend>
						
						


						<div class="container ">
						
						<input hidden = "hidden" name = "id" th:value = "${product.id}" />

							<!-- Name -->
							<div class="row my-2">

								<div class="col-sm-2 form-group">
									<label for="name">* Name</label>

								</div>

								<div class="col-sm-8 form-group">
									<input type="text" name="name" class="form-control" id="name"
										placeholder="Name of the Product" th:value="${product.name}"
										required="required"  aria-describedby="nameHelpBlock" />

								</div>
								
								<div class = "col-sm-2 form-group">
								
								<small id="nameHelpBlock" class="form-text text-muted">Name of the Product</small>
								
								</div>		

							</div>
							
							
														
							
							<!-- Brand -->
							<div class="row my-2">

								<div class="col-sm-2 form-group">
									<label for="brand">* Brand</label>

								</div>

								<div class="col-sm-8 form-group">
									<input type="text"
								name="brand" class="form-control" id="brand"
								placeholder="Brand" th:value="${product.brand}"
								required="required" aria-describedby="brandHelpBlock" />

								</div>
								
								<div class = "col-sm-2 form-group">
								<small id="brandHelpBlock" class="form-text text-muted">Brand of the Product</small>
								
								</div>
							</div>
							
							
							
							
														
							
							
							
							
														
							
							
							<!-- Category -->
							<div class="row my-2">

								<div class="col-sm-2 form-group">
									<label for="category">Category</label>

								</div>

								<div class="col-sm-8 form-group">
									<select th:value="${product.category}" id="category"
										name="category" class="form-control">
										<option value="" selected="selected" disabled="disabled">Please
											select an option...</option>
										<option value="Laptop"
											th:selected="(${product.category} == 'Laptop')">Laptop</option>
										<option value="Phone"
											th:selected="(${product.category} == 'Phone')">Phone</option>
										<option value="Headset"
											th:selected="(${product.category} == 'Headset')">Headset</option>
									
									</select>
																
								</div>

								

							</div>
							
							
							
							
													
							
							
							<!-- list price -->
							<div class="row my-2">

								<div class="col-sm-2 form-group">
									<label for="listprice">List Price</label>

								</div>

								<div class="col-sm-8 form-group">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="number"
										class="form-control" id="listprice" name="listPrice"  step = "0.01"
										placeholder="List Price" th:value="${product.listPrice}" aria-describedby="listpriceHelpBlock" />

								</div>

								</div>
								<div class = "col-sm-2">
								
								<small id="listpriceHelpBlock" class="form-text text-muted">List Price</small>
								</div>
							
							</div>
							
							
							
							
							
							
							
							<!-- our price -->
							<div class="row my-2">

								<div class="col-sm-2 form-group">
									<label for="ourPrice">Our Price</label>

								</div>

								<div class="col-sm-8 form-group">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="number"
										class="form-control" id="ourPrice" name="ourPrice" step = "0.01"
										placeholder="Our Price" th:value="${product.ourPrice}" aria-describedby="ourpriceHelpBlock" />

								</div>

								</div>
								
								<div class = "col-sm-2 form-group">
								<small id="ourpriceHelpBlock" class="form-text text-muted">Our Price</small>
								</div>
								
							</div>
							
							
							
							
							
							<!-- in stock number -->
							<div class="row my-2">

								<div class="col-sm-2 form-group">
									<label for="inStockNumber">Numbers in stock</label>

								</div>

								<div class="col-sm-8 form-group">
								<div class="input-group">

									<input type="number" class="form-control" id="inStockNumber"
										name="inStockNumber" placeholder="Numbers in tock"
										th:value="${product.inStockNumber}" aria-describedby="stockHelpBlock" />

								</div>

								</div>
								
								<div class = "col-sm-2 form-group">
								<small id="stockHelpBlock" class="form-text text-muted">Number in Stock</small>
								
								</div>
							</div>
							
							
							
							
							
							
							<!-- Status of Product -->
							<div class="row my-2">

								<div class="col-sm-2 form-group">
									<label for="Status">Status</label>

								</div>

								<div class="col-sm-4 form-group">
								<div class="input-group">

									<label><input type="radio" class="form-control"
										name="active" value="true" checked = "checked" /> Active</label> <label><input
										type="radio" class="form-control" name="active" value="false" aria-describedby="statusHelpBlock" />
										Inactive</label>

								</div>

								</div>
								
								<div class = "col-sm-6 form-group">
								<small id="statusHelpBlock" class="form-text text-muted">Whether the product is active or inactive.</small>
									
								</div>
								
							</div>
							
							
							
							
							

																
							<!-- description -->
							<div class="row my-2">

								<div class="col-sm-2 form-group">
									<label for="description">Description</label>

								</div>

								<div class="col-sm-8 form-group">
								<textarea name="description" rows="5" class="form-control"
								id="description" placeholder="Description" th:text = "${product.description}"
								th:value="${product.description}" aria-describedby="descriptionHelpBlock"></textarea>
								</div>
								
								<div class = "col-sm-2 form-group">
								<small id="descriptionHelpBlock" class="form-text text-muted">Description of the product.</small>
								
								</div>
							</div>
							
							
							
		
							
							<!-- Upload Image -->
													
							
							<div class="row my-2">
									
									<div class="col-sm-2 form-group">
									<Label>Upload Product Image</Label>

									</div>
																
								

								<div class="col-sm-8 form-group">
								<input
								type="file" class="form-control-file" id="productImage"
								name="productImage" th:value="${product.productImage}" />
								</div>
								
							</div>
								
													

							
								
							
							
						<hr/>
							<div class = "row my-5">
								<div class = "col-sm-4"></div>
								<div class = "col-sm-4">
										<button type="submit" class="btn btn-success">Update Book</button>
								</div>
										
								<div class = "col-sm-4">
										<a class="btn btn-danger" th:href="@{'/productInfo/'+${product.id}}">Cancel</a>
								</div>
										
							</div>
								

							
								
							</div>

						
					</fieldset>

				</form>



			</div>


		</div>


	</div>




	<div th:replace="fragments::javascript"></div>

</body>


<footer th:replace="fragments::html_foot"> </footer>


</html>
