@charset "ISO-8859-1";

body {
	overflow-x:hidden;
	font-family: Montserrat, sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
}


.navbar {
	margin-bottom: 20px;
}

.home-headline {
	font-size:24px;
	margin:auto;
	margin-top:10px;
	text-align:center;
	color:#fff;
	
}

.section-headline {
	font-size:24px;
	margin:auto;
	margin-top:10px;
	text-align:center;
	color:#fff;
	
}

.home-headline span{
	background-color:#231F20;
	padding:5px 22px;
}


.section-headline span{
	background-color:#231F20;
	padding:5px 22px;
}